<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

    <h1>Task1</h1>      

	<a href="/getplasmogen"><button type="button" class="btn btn-default btn-block btn-lg">Download Plasmogen Metabolites</button> </a>
	<a href="/getlpc"><button type="button" class="btn btn-default btn-block btn-lg">Download LPC Metabolites</button> </a>
	<a href="/getpc"><button type="button" class="btn btn-default btn-block btn-lg">Download PC Metabolites</button> </a>

	</br>
	<h1>Task2</h1> 
	<a href="/getroundoff"><button type="button" class="btn btn-default btn-block btn-lg">Task2</button> </a>

	</br>
	<h1>Task3</h1> 
	<a href="/getmean"><button type="button" class="btn btn-default btn-block btn-lg">Task3</button> </a>
</div>


</body>
</html>